Makefile*
*.[oa]
moc_*.cpp
ui_*.h
qrc_*.cpp
*.pro.user
*.sh
src/qlabnetview/*.pro.user
src/qlabnetfake/*.pro.user
src/monitor/*.pro.user
src/qlabnetfake/qlabnetfake
src/qlabnetview/qlabnetview
src/monitor/qlnmonitor
doc
